<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userservice" class="com.user.service.appservice.service.DefaultUserService" lazy-init="true">
        <property name="plUserService" ref="pluserservice"/>
    </bean>
    <bean id="userexpservice" class="com.user.service.appservice.service.DefaultUserExpService" lazy-init="true">
        <property name="service" ref="pluserexpservice" />
    </bean>
</beans>